body {
    background-image: url("CoH\ Logo.png");
    background-repeat: no-repeat;
    background-color: #cccccc;
    color:black;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
strike {
    font-family: "", "";
    text-align: left
}

div.container {
    padding: 30px;
}

#form-container {
    max-width: 150px;
    margin: 0 auto;
    box-shadow: 5 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: blue;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;

    justify-content: flex-start;
    align-items: flex-start;

}

#form-wrapper {
    top: 0rem;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 14px;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

#title {
    margin-top: 4px;
}

#submit {
    margin-top: 20px;
    background-color: #1259fe;
    border-radius: 5px;
    border: 4;
    color: rgb(240, 41, 51);
}

#delete {
    color: red;
}

.flex-wrapper {
    display: flex;
}

.task-wrapper {
    cursor: pointer;
    border-bottom: 1px solid #e9e9e9;
    color: #686868;
    margin: 5px;
    padding: 20px;
}

.task-wrapper:hover {
    background-color: #F0F0F0;
}